body{ background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfovyk8nnR2MD4lpzIVtX4Ofl0q7Q6zYMHsASNWBrxC5R7mVeDxw);
text-align: center;
}

h1{ font-size: 42;
  font-family: 'Satisfy', cursive;


}
h2{
  font-size: 30;
  font-family: 'Satisfy', cursive;

}
h3{
  font-size:30;
  font-family: 'Satisfy', cursive;
}
h4
{font-size:30;
  font-family: 'Satisfy', cursive;
}
h5
{font-size: 30;
  font-family: 'Satisfy', cursive;
}
h6
{font-size: 30;
font-family: 'Satisfy', cursive;
}
